.group {
	height: 100px;
	label {

	}
}

.title {
	color: #16bcc9;
    font-weight: 300;
    margin-bottom: 30px;
}

.formLabel {
	color: #657483;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	display: block;
	margin: 0 0 20px 0;
	span {
		color: red;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;	
	}
}

.formInput {
	height: 38px;
	padding: 0 10px;
	display: block;
	width: 100%;
	&:focus {
		outline: 3px solid #68d3ff;
	}
}

.errorMsg {
	color: red;
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
    font-weight: 400;
}

.uploadContainer {
	margin-bottom: 50px;
}

.dropZoneInput {
	border: 2px dashed #528FCC;
	border-radius: 3px;
	width: 100%;
	padding: 30px 15px;
	height: 157px;
	cursor: default;
	p {
		text-align: center;
		font-size: 16px;
		line-height: 18px;
	}

	button {
		display: block;
	    cursor: pointer;
	    width: 160px;
	    margin: 0 auto 20px;
	    border-radius: 2px;
	    background-color: #528FCC;
	    font-size: 16px;
	    line-height: 20px;
	    color: #FFFFFF;
	    padding: 8px 0;
	    text-align: center;
	}
}

.progressBar {
	display: block;
}

.imagePreview {
	height: 157px;
	text-align: center;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		max-height: calc(100% - 40px);
	}
}

.previewKycImage {
	height: 200px;
    text-align: center;
    padding: 20px 0;
    border: 2px dashed #528FCC;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		max-height: calc(100% - 40px);
	}
}

.imageUploadBlock {
	padding: 60px 40px 40px;
    border: 1px solid #e0e4e8;
    border-radius: 5px;
    height: 275px;
}

.addBtn {
	background-color: #2489d6;
	border: 1px solid #258cda;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #85b9e0;
	padding: 10px 0;
    color: #fff;
    width: 120px;
    margin: 20px auto 20px;
    display: block;
}

.addBtn + span {
	text-align: center;
}

.bankAccounts {
	padding: 85px 0 0 30px;
}

.accountsList {
	list-style-type: none;
	padding-left: 0;
	height: 500px;
    overflow-y: scroll;

	li {
		border: 1px solid #e0e4e8;
		margin-bottom: 15px;
		border-radius: 3px;
		padding: 10px 15px;
	}
}

.previewBankRecord {
	list-style-type: none;
	padding-left: 0;

	li {

		display: inline-block;	
		margin-bottom: 15px;
	}
}

.bankDetails {
	border: 1px solid #e0e4e8;
	border-radius: 3px;
	padding: 10px 15px;
}

.accountDetails {
	margin-bottom: 20px;
	label {
			font-size: 16px;
			line-height: 18px;
			margin-right: 30px;
			width: 40%;
		}
	span {
		font-size: 14px;
		line-height: 16px;
	}	
}

.deleteBtn {
	display: block;
	width: 70px;
	background-color: red;
	color: #fff;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.nextBtn {
	background-color: #1395ba;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.previousBtn {
	background-color: grey;
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 20px;
}

.previewTitle {
	font-weight: bold;
    margin: 60px 0 40px 13px;
    text-transform: uppercase;
}

.previewPage {
	margin: 30px auto;
	padding: 80px 30px;
    border: 1px solid #e0e4e8;
}