@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$fontRaleway: 'Raleway', sans-serif;

body {
  font-family: $fontRaleway !important;
}

.form-group {
	height: 100px;
	label {
		
	}
	.form-control {
		height: 38px;
		padding: 0 10px;
	}
}